---
import { Icon } from "astro-icon/components";
import Search from "astro-pagefind/components/Search";
---

<div class="navbar bg-base-300">
  <div class="flex-1 px-2 mx-2">
    <a href="/" class="text-xl">HellaJS</a>
  </div>
  <div class="flex items-center px-2">
    <ul class="menu menu-horizontal">
      <!-- Navbar menu content here -->
      <li><a href="/learn/installation">Learn</a></li>
      <li><a href="/reference/core/signal">API Reference</a></li>
      <li><a href="/plugins">Plugins</a></li>
    </ul>
    <Search id="search" className="pagefind-ui" />

    <Icon name="ph:github-logo" width={24} height={24} />
  </div>
</div>
